.table-consulta {
  border: 1px solid #b5b4b4;
  color: #333;
  border-collapse: collapse;
  empty-cells: show;
}

.table-consulta tr,
.table-consulta td,
.table-consulta th {
  padding: 0.5em 1em;
  height: 2.5em;
}

.table-consulta th {
  background-color: #fff;
  text-align: left;
}

.table-consulta tr:nth-of-type(odd),
.table-consulta-mensagem {
  background-color: #9BD3AE;
  color: #222;
}

.btn-chamada {
  background-color: #F56529;
  color: #F1FFF7;
  border: 0;
  border-radius: 4px;
  height: 2.5em;
}

.btn-chamada:hover {
  background-color: #009657;
}

.consulta-color {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  border: 2px solid black;
}

.consulta-color-vermelho {
  background-color: red;
}

.consulta-color-amarelo {
  background-color: yellow;
}

.consulta-color-azul {
  background-color: blue;
}

.consulta-color-verde {
  background-color: green;
}

.consulta-color-laranja {
  background-color: orange;
}

.consulta-container {
  display: flex;
}

.dados-triagem,
.dados-consulta {
  width: 400px;
  max-width: 50%;
  margin: 2em;
}

.dados-triagem tr {
  height: 2em;
}

.dados-triagem th {
  text-align: center;
}

.dados-consulta .consulta-color {
  margin: 0;
}

.dados-consulta-form label {
  display: inline-block;
  margin-top: 0.5em;
}

.btn-consulta,
.dados-consulta-form input,
.dados-consulta-form select {
  width: 100%;
  height: 3em;
  margin-bottom: 0.2em;
  padding-left: 1em;
}

.btn-consulta {
  border: 0;
  border-radius: 4px;
  background-color: #009657;
  color: #F1FFF7;
  padding-left: initial;
}

.btn-consulta:hover {
  background-color: #F56529;
}
