body {
  overflow: auto;
}

/*Tabela*/
table {
	border-collapse: collapse;
  border: 0;
  overflow: auto;
}

thead {
	background-color: #01b26c;
	color: #FFFFFF;
	border-bottom: 1px solid #ddd;
}

th {
  height: 35px;
}

td, th {
  padding: 8px 8px;
}

input[type="radio"]{
  display: none;
}

.tr_fila:nth-child(even) {
   background-color: #9bd3ae;
}

.tr_fila:hover {
	background-color: #01b26c;
	color: white;
}

.submit {
	width: 90%;
  height: 39px;
  line-height: 26px;
	margin: 5px;
	transition: 500ms;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: 12pt;
}

.lbl-radio-class {
  display: inline-block;
  margin-left: 7%;
  height: 50px;
}

.submit[name='desistir'] {
	background-color: #000;
}

.submit[name='reclassificar'] {
	background-color: #b7b7b7;
}

.submit[name='chamar'] {
	background-color: #4444ff;
}

.submit:hover {
	background-color: #fff;
	color: #000;
}

.inp_class {
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
  border: 3px solid #01b26a;
  width: 80%;
  height: 30px;
}

/*Modal*/
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div {
	width: 400px;
  height: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #9bd3ae;
}

.fechar {
	background: #01b26c;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.fechar:hover {
	background: #ccc;
	color: #000;
}

/*Background contador pacientes consulta/espera*/
.pessoas {
	width: 200px;
	background: #01b26c;
}
