* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.row {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.control {
  font-size: 13.333px;
  color: #333;
  width: 20%;
  height: 100vh;
}

.search-wrapper {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 0.6em;
  left: 0.3em;
  color: #777;
}

.search-in,
.sel-visualizar,
.info-inner,
.btn {
  text-align: left;
  font-size: 1em;
  color: #777;
  width: 100%;
  padding: 0.6em;
  background-color: rgb(249, 249, 249);
  border: none;
  border-bottom: solid 1px rgb(222, 222, 222);
  border-radius: 0;
}

.sel-visualizar {
  padding-left: 0.4em;
}

.search-in {
  padding-left: 1.6em;
}

.info-inner {
  color: #333;
}

.search-in:focus,
.search-in:hover,
.sel-visualizar:focus,
.sel-visualizar:hover,
.info-inner:hover,
.btn:hover {
  outline: 0;
  border-bottom: 1px solid #4272db;
  color: #333;
}

.search-in:hover,
.sel-visualizar:hover,
.btn:hover {
  background-color: rgb(227, 235, 240);
}

.map {
  width: 80%;
  height: 100vh;
}

.info-inner {
  padding: 1em 0.5em;
}
