/*Este documento edita o css do index.php*/

/*

Class Main,FormLogin

*/

.FormLogin {
  display: flex;
  flex-flow: wrap;
  width: 26%;
  height: 29%;
  margin-left: 36%;
  margin-top: 380px;
  background-color: #9bd3ae;
}

.FormLogin .submit {
  background-color: #009657;
  color: #eee;
  border: 0;
}

.form-confir .lbl_class {
  color: #009657;
  width: 100%;
  height: 20px;
  font-size: 16pt;
  text-align: center;
}

.anchor {
  background-color: #009657;
  color: #fff;
  margin: 3px;
  width: 100px;
  border-radius: 3px;
}

.FormLogin .inp_class {
  text-indent: 7px;
}

.FormLogin .submit:hover {
  background-color: #01b26a;
}

.FormLogin input {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  margin-left: 12%;
  border: 0;
  border-radius: 5px 5px 5px 5px;
}

.Img {
  left: 50%;
  margin-top: -330px;
  margin-left: -110px;
  position: absolute;
}

.form-confir {
  width: 37%;
  height: 37%;
  margin-left: 31.5%;
  margin-top: 150px;
  border-radius: 3px;
}

/* Dispositivos abaixo de 800px*/
@media screen and (max-width: 800px) {
  /*Class FormLogin*/
  .FormLogin{
    width: 50%;
    height: 220px;
    margin-left: 23%;
    margin-top: 340px;
  }

  .form-confir {
    margin-top: 150px;
  }

  .FormLogin input{
    height: 40px;
  }
}
/* Dispositivos abaixo de 460px*/
@media screen and (max-width: 460px) {
  /*Class FormLogin*/
  .FormLogin {
    width: 80%;
    height: 220px;
    margin-left: 8%;
    margin-top: 340px;
  }

  .form-confir {
    margin-top: 150px;
  }
}
