* {
  box-sizing: border-box;
  font-family: sans-serif;/*adicionar fonte*/
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

/*remover checkbox para usar em displays menores*/
header{
  display: none;
}

/*div que pega a tela inteira*/
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

/*conteúdo da lateral, hora, usuário, logar, etc..*/
.lateral {
  display: flex;
  align-content: flex-end;
  width: 13%;
  height: 100%;
  background-color: #f1fff7;
  flex-wrap: wrap;
  border-right: 1px solid #29784b;
  border-left: 1px solid #29784b;
}

.lateral .nav_user{
  display: flex;
  padding: 8px;
  text-decoration: none;
  color: black;
  background-color: #29784b;
  width: 50%;
  font-size: 80%;
}

.lateral #user{
  border-right: 1px solid white;
}

/*formatação da logo*/
.logo{
  width: 7%;
  position: absolute;
  display: block;
  top: 0%;
  margin-left: 2.5%;
  margin-top: 5px;
}

/*formatação da hora na lateral*/
#hora{
  margin-left: 30%;
  font-size: 13pt;
}

/*conteúdo dos módulos*/
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*Div que contém triagem, Recepção e Administração*/
.conteudoCentro{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;
  padding-left: 17%;
}

/*Formatação e posicionamento dos ícones do centro*/
.conteudoCentro .avatars{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding-left: 17%;
}

/*Formatação do a abaixo dos avatars*/
.conteudoCentro .anchor {
  color: #29784b;
  width: 22%;
  padding-left: 10%;
}

/*Formatação do texto abaixo dos ícones*/
.conteudoCentro .txt_avatar{
  width: 100%;
}

/*Div que contém o título e o botão para aparecer a lateral*/
.cabecalho{
  display: flex;
  font-size: 17pt;
  width: 100%;
}

.sub-cabecalho{
  background-color: #9bd3ae;
}

/*Formatação do título Hugh & Health*/
.cabecalho .titulo{
  text-align: center;
  width: 360px;
  display: inline-block;
  margin-left: 33%;
  color: #01b26a;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/*Formatação do texto abaixo dos avatars*/
.conteudoCentro .anchor {
  color: #29784b;
}

/*classe que edita todas as tags a*/
.anchor{
  padding: 0.4em;
  border-collapse: collapse;
}

/*edição nas tags a e li*/
.anchor, .lista, .submodulo{
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

/*esconde os submódulos*/
.submodulo{
  visibility: hidden;
  position: absolute;
}

.icon-modulo{
  height: 30px;
}

/*altura dos links na lateral*/
.container .lateral .main-lateral .lista .anchor{
  height: 20%;
  font-size: 10pt;
  width: 100%;
}

.container .main-lateral .anchor p{
  display: inline-block;
  position: absolute;
  margin: 0;
  margin-left: 10px;
  margin-top: 7px;
}

.container .main-lateral .anchor .icon-modulo{
  margin-left: -90px;
}

.container .lateral .main-lateral .lista{
  width: 100%;
}

.container .lateral .main-lateral .lista:hover{
  background-color: #9bd3ae;
}

/*edição nos links de submódulos*/
.container .lateral .main-lateral .submodulo{
  margin: 0%;
  width: 100%;
}

/*edição na segunda class da navegção lateral*/
.container .lateral .main-lateral{
  width: 100%;
  height: 60%;
}

.conteudoCentro .txt_avatar{
	text-align: center;
}

/*edição nas tags a da navegação lateral*/
.container .lateral .main-lateral .anchor{
  background-color: #01b26c;
  border-bottom: 1px solid #29784b;
  color: #29784b;
}

/*hover das tags a*/
.container .lateral .main-lateral .anchor:hover{
  color: #f56529;
}

/*
AQUI COMEÇA AS EDIÇÕES NO CONTEUDO DO CENTRO DOS SUB-MÓDULOS
*/

/*edição no conteudo central da pagina*/
.conteudoCentro .main{
  display: inline-block;
  /*border: 0.5px solid #29784b;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  /*background-color: #9bd3ae;*/
}

/*edição no conteudo que fica dentro do centro da pagina*/
.conteudoCentro .main .main-centro{
  width: 100%;
  height: 84.5vh;
}

/*edição na segunda class do da main do centro*/
.centro-modulo{
  padding: 0;
  margin-left: 0;
  margin-top: 0px;
}

/*
FIM DAS EDIÇÕES NO CONTEÚDO DO CENTRO DOS SUB-MÓDULOS
*/

/*padronização dos conteudos do cabeçalho*/
.main .cabecalho .config,
.container .main .cabecalho .cabecalho-group{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/*informações no cabeçalho*/
.container .main .cabecalho .cabecalho-group .tit-sub-modulo{
  margin-bottom: 0%;
  border: 0;
}

.container .main .cabecalho .group-image {
  width: 34%;

}

.container .main .cabecalho .group-image .tit-image{
  display: inline-block;
  /*background: url("../img/avatars/triagem.png") no-repeat;*/
  background-size: 70px;
  background-position: center;
  background-position: 15% -1%;
  width: 87px;
  height: 50px;
}

.container .main .cabecalho .group-image .tit-text{
  display: inline-block;
  color: #01b26a;
  margin-top: 2.5em;
  border-bottom: 0;
  font-size: 20pt;
  margin-left: 1%;
}

.main .cabecalho .config .anchor{
  height: 3em;
}

.config .anchor .image{
  width: 90%;
}

/*EDIÇÃO DA ABAS*/

.TabControl{
  width:100%;
  overflow:hidden;
  height:100%;
}

.TabControl #header{
  width:100%;
  overflow:hidden;
  cursor:pointer;
}

.TabControl #content{
  width:100%;
  background-color: #fff;
  /*border: solid 1px #01b26a;*/
  overflow: hidden;
  height:100%;
}

.TabControl .abas{
  display:inline;
}

.TabControl .abas li{
  float:left
}

.abas{
  list-style:none;
}

.aba{
  width:100px;
  height:30px;
  text-align:center;
  padding-top:5px;
  background-color: #01b26a;
}

.ativa{
  border:solid 1px #01b26a;
}

.TabControl .conteudo{
  width:100%;
  display:none;
  height:100%;
}

.aba .image-close{
  margin-left: 10px;
  height: 13px;
}

.selecionada{
  width:100px;
  height:30px;
  text-align:center;
  padding-top:5px;
  background-color: #f56529;
}

/*EDIÇÕES NOS FORULÁRIOS DE TRIAGEM*/
.form {
  width: 100%;
  height: 90vh;
  display: inline-block;
  font-family: sans-serif;
  /*border: 1px solid;*/
  margin-left: 6%;
  overflow:scroll;
}

.form-cadastro{
  margin-left: 0;
}

.form .lbl_class, .extend-class{
  color: #fff;
  display: inline-block;
  width: 185px;
  height: 100%;
  /*padding: 5px;*/
  background-color: #01b26a;
  text-align: right;
  border-radius: 3px 0px 0px 3px;
}

.form .lbl_class{
  line-height: 45px;
}

.form .lbl-extend-class{
  line-height: 15px;
}

.form select[name="cidade"]{
  width: 200px;
}

.form .inp_class{
  border-radius: 3px 3px 3px 3px;
  border: 3px solid #01b26a;
  margin-left: 1px;
  margin-top: 2%;
}

.form .extend-class{
  height: 100%;
}

.form .group-form, .extend-group-form{
  width: 337px;
  height: 50px;
  background-color: #9bd3ae;
  margin-top: 2%;
  margin-left: 10%;
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
}

.form .extend-lbl-class{
  width: 270px;
}

.form .lbl-radio-class{
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 20px;
}

.form .submit{
  height: 40px;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  background-color: #01b26a;
  border: 0;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
}

.form .lbl-radio-class p{
  margin-top: -28px;
  margin-left: 40px;
}

.form-classi .lbl_class{
  width: 150px;
  text-align: left;
  margin-top: 10px;
  border-radius:  3px 3px 3px 3px;
  margin-left: 40%;
}

.form-classi .titulo, .form-cadastro .titulo{
  display: inline-block;
  margin-left: 36%;
  width: 250px;
  color: #01b26a;
  text-align: center;
  border-bottom: 1px solid #01b26a;
}

.form-cadastro .titulo{
  width: 400px;
}

.form-cadastro .lbl_class{
  width: 120px;
}

.form .group-form-cadastro{
  width: 440px;
}

/* Escondemos o radio original */
.form-classi input[type="radio"] {
  display: none;
}

.form-classi .lbl_class{
  height: 55px;
}

/* Usamos o pseudo-element :before para recriar o novo radio */
.form .lbl-radio-class:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 3px;
  border-radius: 50%;
  left: 0;
  bottom: 1px;
  border: 0;
}

/* CSS Responsavel por definir o estilo para radio Checkado */
.form input[type="radio"]:checked + .lbl-radio-class:before {
  content: "\2022";
  color: #fff;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
}

/*Mudança na cor de fundo dos inputs type radio*/
.form input[value="5"] + .lbl-radio-class:before  {
  background-color: red;
}

.form input[value="4"] + .lbl-radio-class:before  {
  background-color: orange;
}

.form input[value="3"] + .lbl-radio-class:before  {
  background-color: yellow;
}

.form input[value="2"] + .lbl-radio-class:before  {
  background-color: green;
}

.form input[value="1"] + .lbl-radio-class:before  {
  background-color: blue;
}

@media (min-width: 651px){
  /*grupo contido no cabeçalho*/
  .container .main .cabecalho .config{
    width: 45%;
  }

  .container .main .cabecalho .group-image .tit-image{
    /*background-size: 140px;
    background-position: center;
    background-position: 15% -1%;*/
    width: 145px;
    height: 94px;
    margin-top: 5px;
  }

  /*edição no grupo onde fica o icone da página*/
  .container .main .cabecalho .cabecalho-group{
    margin-left: 0%;
  }

  @media (max-height: 590px){
    .container .main .cabecalho .group-image .tit-image{
      /*width: 30%;*/
      height: 94%;
      background-size: 100%;
    }

    .container .main .cabecalho .group-image .tit-text{
      margin-top: 1em;
      padding-bottom: 15%;
    }
  }
}

@media (max-width: 1054px){

    /*Div lateral com botões deslogar e usuário*/
    .lateral{
      width: 140px;
      margin-left: 0px;
    }

    .container .main .cabecalho .config{
      width: 60%;
    }

    /*Formatação dos botões da lateral*/
    .lateral .nav_user{
      width: 100%;
      padding-left: 30%;
    }

    /*Formatação logo na lateral*/
    .lateral .logo{
      width: 70px;
      margin-left: 35px;
    }


    .lateral #user{
      border-bottom: 1px solid white;
      border-right: none;
    }

    /*Formatação do cabeçalho*/
    .cabecalho .titulo{
      width: 400px;
      margin-left: 26%;
  		text-align: center;
    }

    /*edição no grupo onde fica o icone da página*/
    .container .main .cabecalho .group-image{
      width: 70%;
    }

    .lateral #hora{
      font-size: 90%;
      margin-left: 10%;
      visibility: hidden;
      display: none;
    }

    .conteudoCentro{
      padding-left: 1%;
    }

    .centro-modulo{
      padding-left: 0%;
    }

    .conteudoCentro .anchor{
      width: 29%;
      padding-left: 19%;
    }

    .conteudoCentro .avatars{
      width: 120%;
      text-align: center;
      padding-left: 20%;
    }

    .form{
      margin-left: 0;
      overflow: scroll;
    }

    .form .group-form{
      margin-left: 1%;
    }
}

@media (max-width: 650px){

  /*Mostrar o botão lateral para tela de mobiles*/
  header{
    display: flex;
  }

  /*Div que pega a tela inteira*/
  .main{
    width: 100%;
  }

  .container .main .cabecalho .group-image{
    width: 80%;
    margin-left: -10%;
  }

  .main .cabecalho .config{
    height: 40%;
    position: absolute;
    margin-top: 2.2em;
    visibility: hidden;
    margin-left: 40%;
  }

  .main .cabecalho .config .anchor{
    width: 70px;
    height: 3em;
    margin-left: 71%;
  }

  .main .cabecalho .group-image .tit-sub-modulo{
    margin-left: 40%;
  }

  .main .cabecalho .group-image #lbl_triagem{
    font-size: 14pt;
    margin: 0;
    margin-top: 24px;
  }

  .main .cabecalho .button{
    height:  40px;
    margin-left: 85%;
    margin-top: 5px;
    position:absolute;
  }

  /*Formatação da div lateral*/
  .lateral{
    position: absolute;
    width: 60%;
    margin-top: 53px;
    margin-left: -390px;
    height: 90.5vh;
    border-right: 0px;
  }

  /*Formatação dos botões da lateral */
  .lateral .nav_user{
    width: 100%;
    text-align: center;
    padding-left: 40%;
  }

  .conteudoCentro .anchor{
    width: 30%;
    margin-left: 3px;
    padding-left: 10%;
  }

  /*Formatação dos avatares*/
  .conteudoCentro .avatars{
    width: 80px;
    margin: 5px;
    padding-left: 10%;
  }

  /*Formatação da div que contém o título e o botão da lateral*/
  .cabecalho {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    background: #9bd3ae;
    height: 50px;
  }

  .cabecalho .titulo{
    width: 220px;
    font-size: 100%;
    margin-top: 10px;
    margin-left: 23%;
    padding-bottom: 30px;
  }

  .centro-modulo{
    margin-left: 0;
    padding: 0;
  }

  /*Formatação do botão da lateral*/
  #btn_slide{
    width: 40px;
    height: 30px;
    margin-top: 7px;
    margin-left: 7px;
  }
}

@media (max-width: 433px){
  .container .main .cabecalho .group-image .tit-text{
    visibility: hidden;
  }

  .container .main .cabecalho .group-image .tit-image{
    margin-left: 40%;
  }
}

@media (max-width: 400px){

  .cabecalho .titulo{
    width: 200px;
    margin-left: 16%;
		font-size: 16pt;
		padding-left: 7%;
		padding-bottom: 1px;
    margin-top: 10px;
  }

  .lateral {
    width: 80%;
  }

  .conteudoCentro .anchor{
      width: 37%;
      margin-left: 22px;
      padding-left: 10%;
  }

    /*Formatação dos avatares*/
  .conteudoCentro .avatars{
      width: 70px;
      margin: 5px;
      padding-left: 13%;
  }
}

@media (max-height: 500px){
  .container .lateral .main-lateral{
    height: 30%;
    overflow: auto;
  }
}

@media (max-height: 280px){
  .cabecalho .titulo{
    width: 32%;
  }

  .container .lateral .sub-logo{
    visibility: hidden;
  }
}
