.cabecalho .titulo{
  	margin-left: 33%;
}

.conteudoCentro .anchor{
	width: 28%;
}

.conteudoCentro .anchor .avatars{
	width: 25%;
}


@media (max-width: 1050px){
	.conteudoCentro .anchor{
		width: 250px;
	}
}

@media (450px){
	.cabecalho .titulo{
    width: 55%;/*alterado*/
  	margin-left: 15%;/*alterado*/
		font-size: 16pt;
		padding-left: 6%;
		padding-bottom: 1px;
  }

}

@media (380px){
	.cabecalho .titulo{
		width: 200px;/*alterado*/
  	padding-left: 6%;
  	margin-left: 15%;/*alterado*/
	}
}
