/* Escondemos o radio original */
.form-classi input[type="radio"] {
  display: none;
}

.form-classi .lbl_class{
  height: 55px;
}

/* Usamos o pseudo-element :before para recriar o novo radio */
.form .lbl-radio-class:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 3px;
  border-radius: 50%;
  left: 0;
  bottom: 1px;
  border: 0;
}

/* CSS Responsavel por definir o estilo para radio Checkado */
.form input[type="radio"]:checked + .lbl-radio-class:before {
  content: "\2022";
  color: #fff;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
}

/*Mudança na cor de fundo dos inputs type radio*/
.form input[value="5"] + .lbl-radio-class:before  {
  background-color: red;
}

.form input[value="4"] + .lbl-radio-class:before  {
  background-color: orange;
}

.form input[value="3"] + .lbl-radio-class:before  {
  background-color: yellow;
}

.form input[value="2"] + .lbl-radio-class:before  {
  background-color: green;
}

.form input[value="1"] + .lbl-radio-class:before  {
  background-color: blue;
}

.form-classi .lbl_class{
  width: 150px;
  text-align: left;
  margin-top: 10px;
  border-radius:  3px 3px 3px 3px;
  margin-left: 40%;
}

.form-triagem {
  overflow: auto;
  border: 1px solid;
  width: 100%;
}

.form-triagem .group-form {
  margin-left: 6%;
}

@media (min-width: 650px) {
  .form-triagem .group-form {
    /*margin-left: 1%;*/
  }
}

/* Dispositivos pequenos (tablets, 768px e superiores) */
@media (min-width: 768px) {
  .form-triagem .group-form {
    /*margin-left: 3%;*/
  }
}

/* Dispositivos médios (desktops, 992px e superiores) */
@media (min-width: 992px) {
}

/* Dispositivos grandes (desktops grandes, 1200px e superiores) */
@media (min-width: 1144px) {

}

.form-triagem {
  width: 100%;
  height: 100vh;
}

.form-triagem .group-form {
  margin-left: 15%;
}
