/* Escondemos o radio original */
.form-classi input[type="radio"] {
  display: none;
}

.form-classi .lbl_class{
  height: 55px;
}

/* Usamos o pseudo-element :before para recriar o novo radio */
.form .lbl-radio-class:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 3px;
  border-radius: 50%;
  left: 0;
  bottom: 1px;
  border: 0;
}

/* CSS Responsavel por definir o estilo para radio Checkado */
.form input[type="radio"]:checked + .lbl-radio-class:before {
  content: "\2022";
  color: #fff;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
}

/*Mudança na cor de fundo dos inputs type radio*/
.form input[value="5"] + .lbl-radio-class:before  {
  background-color: red;
}

.form input[value="4"] + .lbl-radio-class:before  {
  background-color: orange;
}

.form input[value="3"] + .lbl-radio-class:before  {
  background-color: yellow;
}

.form input[value="2"] + .lbl-radio-class:before  {
  background-color: green;
}

.form input[value="1"] + .lbl-radio-class:before  {
  background-color: blue;
}

.form-classi .lbl_class{
  width: 10%;
  text-align: left;
  margin-top: 10px;
  border-radius:  3px 3px 3px 3px;
  margin-left: 40%;
}

.form-triagem {
  height: 100vh;
  /*overflow: auto;*/
  border: 1px solid;
  width: 100%;
}

.form-triagem .group-form .lbl_class{
  width: 57%;
}

.form-triagem .group-form {
  width: 27%;
  margin-left: 15%;
}

.form-triagem .group-form p{
  display: inline-block;
  font-size: 80%;
}

@media (max-width: 1993px) {
  .form-triagem .group-form {
    width: 31%;
    margin-left: 14%;
  }
}

@media (max-width: 985px) {
  .form-triagem .group-form {
    width: 33%;
    margin-left: 11%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form .lbl_class{
    width: 43.5%;
  }
}

@media (max-width: 761px) {
  .form-triagem .group-form {
    width: 38%;
    margin-left: 8%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form .lbl_class{
    width: 47%;
  }
}

@media (max-width: 643px) {
  .form-triagem .group-form {
    width: 47%;
    margin-left: 1%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form p {
    font-size: 60%;
  }
}

@media (max-width: 480px) {
  .form-triagem .group-form {
    width: 300px;
    margin-right: 10px;
  }

  .form-triagem .group-form p {
    font-size: 10pt;
  }

  .form-triagem .group-form .lbl_class{
    width: 170px;
  }

  .form-triagem .group-form .min-class{
    line-height: 45px;
  }
}
