
.form .lbl-radio-class{
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 20px;
}

.form .lbl-radio-class p{
  margin-top: -28px;
  margin-left: 45%;
}

.form-classi .lbl_class{
  width: 20%;
  height: 55px;
  text-align: left;
  margin-top: 10px;
  border-radius:  3px 3px 3px 3px;
  margin-left: 40%;
}

.form-classi .titulo {
  display: inline-block;
  font-size: 2em;
  margin-left: 41%;
}

.form-triagem {
  height: 100vh;
  /*overflow: auto;*/
  width: 100%;
}

.form-triagem .group-form {
  width: 27%;
  margin-left: 15%;
}

.form-triagem .group-form p{
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
}

.form-triagem .visible-group .group-form .lbl_class {
  width: 50%;
}

.form-triagem .visible-group .group-form .inp_class {
  width: 32%;
}

.form-triagem .hidden-group .group-form {
  width: 40%;
  margin-left: 15%;
}

.form-triagem .hidden-group .group-form .lbl_class {
  width: 75%;
}

.form-triagem .hidden-group .extend {
  width: 70%;
  margin-left: 15%;
}

.form-triagem .hidden-group .extend .lbl_class {
  width: 26.3%;
}

.form-triagem .hidden-group .extend .inp_class {
  width: 70%;
}

.form-triagem .grupo-info .submit{
  margin-left: 10%;
}

.form-triagem .hidden-group .submit{
  margin-left: 5%;
}

.form-triagem .grupo-info {
  margin-top: 4%;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  background: #fff;
  position: absolute;
  left: 40px;
  top: .1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  width: 20px;
  height: 20px;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -4px;
  left: 1.3em;
  font-size: 2em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

label:hover:before {
  border: 2px solid #4778d9;
}

.form-classi .grupo-info .submit {
  margin-left: 40%;
  width: 20%;
  font-size: 12pt;
  background-color: #f56529;
}

.form-classi .grupo-info {
  width: 70%;
  margin-left: 15%;
}

@media (max-width: 1993px) {
  .form-triagem .group-form {
    width: 35%;
    margin-left: 10%;
  }
}

@media (max-width: 985px) {
  .form-triagem .group-form {
    width: 33%;
    margin-left: 11%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form .lbl_class{
    width: 43.5%;
  }

  .form-classi .lbl_class{
    width: 20%;
    margin-left: 40%;
  }

  .form-classi .titulo {
    margin-left: 37%;
  }
}

@media (max-width: 761px) {
  .form-triagem .group-form {
    width: 38%;
    margin-left: 8%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form .lbl_class{
    width: 47%;
  }

  .form-classi .lbl_class{
    width: 24%;
    margin-left: 38%;
  }

  .form-classi .titulo {
    margin-left: 34%;
  }
}

@media (max-width: 643px) {
  .form-triagem .group-form {
    width: 47%;
    margin-left: 1%;
  }

  .form-triagem .group-form .min-class{
    line-height: 15px;
  }

  .form-triagem .group-form p {
    font-size: 60%;
  }

  .form-classi .lbl_class{
    width: 26%;
    margin-left: 37%;
  }

  .form-classi .titulo {
    margin-left: 31%;
  }
}

@media (max-width: 480px) {
  .form-triagem .group-form {
    width: 300px;
    margin-right: 10px;
  }

  .form-triagem .group-form p {
    font-size: 10pt;
  }

  .form-triagem .group-form .lbl_class{
    width: 170px;
  }

  .form-triagem .group-form .min-class{
    line-height: 45px;
  }

  .form-classi .titulo {
    margin-left: 10%;
  }

  .form-classi .lbl_class{
    width: 191px;
    margin-left: 1%;
  }
}
